*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins",sans-serif;
}
:root{
    --bg-color:#080808;
    --second-bg-color:#101010;
    --text-color:white;
    --main-color:#ea119b;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
}
body{
    background :var(--bg-color);
    color: var(--text-color);
    
}
.header{
    position :fixed;
    top:0;
    left:0;
    width:100%;
    padding:3rem 9%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: var(--main-color);
    vertical-align: top; 
    font-size: large;
}

.card {
    background-color: black;
    border: 3px solid violet;
    border-radius: 9px;
    padding: 40px;
    margin: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.details {
    display: none;
    position: fixed;
    top: 80;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(210, 7, 169, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: white;
    margin-left: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
span{
    color: var(--main-color);
}
